{{extend 'mylayout.html'}}
<div class="demo" style="width:710px; padding: 5px;">
    <div id="tabs" class="ui-tabs">
        <ul class="ui-widget-header">
            <li><a href="#tabs-1">發紅包啦</a></li>
            <li><a href="{{=URL('demo2')}}">Tab 1</a></li>
            <li><a href="#tabs-2">Tab 2</a></li>
        </ul>
        <div id="tabs-1" style="height:490px;">
            <div id="main_content" style="float:left;width:70%; margin-top: 2px; margin-bottom:2px;">
                <div id="content_text" style="height: 260px;"><p>This is a test.</p></div>
                <div id="big_button" style="height: 200px; margin: auto auto 5px 20px;"><img src="{{=URL('static','jquery-ui/button.png')}}"></img></div>
            </div>
            <div id="log" style="width=30%;">
                <p>This is the log table</p>
            </div>
        </div>
        <div id="tabs-2" style="height:490px;">
            <p>
            <script>
                FB.ui({method: 'apprequests', message: 'You should learn more about this awesome game.', data: 'tracking information for the user'});
            </script>
            </p>
        </div>
    </div>
</div>
