{{extend 'layout.html'}}
<div id="content"> <fb:serverfbml width="615" id="invite_box">

<script type="text/fbml">
<fb:request-form method="POST" invite="false" type="Husband Request" content="Where is my dinner? <fb:req-choice url='http://apps.facebook.com/tao_tao/?choice=echo' label='Cook it' />">
<fb:multi-friend-selector showborder="false" bypass="cancel" cols=4 actiontext="Send cooking request"/>
</fb:request-form>
</script>
    
</fb:serverfbml></div>
<!-- Facebook JS SDK -->
<div id="fb-root"></div>
<script>
      window.fbAsyncInit = function() {
          FB.init({appId: '{{=session.app_id}}', status: true, cookie: true,
              logging : true, xfbml: true});
          FB.Canvas.setSize();
          FB.getLoginStatus(function(response) {
              if (response.session) {
                  // logged in and connected user, someone you know
                  // $("#invite_box").load("{{=URL('send_request')}}");
                  // FB.XFBML.parse($("#invite_box")[0]);
                  } else {
                  // no user session available, someone you dont know
                  //alert("I don't know you. Gonna let you in first.");
                  top.location.href = "{{=login_url}}";
              }
          });
        };
    (function() {
        var e = document.createElement('script'); 
        e.async = true;
        e.src = document.location.protocol +
                '//connect.facebook.net/en_US/all.js';
                    document.getElementById('fb-root').appendChild(e);
            }());
</script>
